@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
